* text=auto eol=lf
*.exe -text
*.dll -text
*.ico -text
*.png -text
*.jpg -text
*.jpeg -text
*.zip -text
*.pdf -text
*.dat -text
*.pdb -text

windows/runtime/TorSnowflake/bundle/data/geoip -text
windows/runtime/TorSnowflake/bundle/data/geoip6 -text
